@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

* {
  margin: 0 auto;
  font-family: "Ubuntu", sans-serif;
}
p {
  font-size: 20px;
}

.carousel-caption {
  bottom: 5.75rem !important;
}
.title {
  font-size: 80px;
  font-weight: 700;
}
.explore-learn {
  background-color: #f9fbfc;
}
.ready-to-join {
  background-color: #389bde;
}

/* Media quarie */
@media (max-width: 768px) {
    .carousel-caption {
        bottom: 2.75rem !important;
      }
    .title {
    font-size: 40px;
    font-weight: 600;
  }
}
